<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

<div class = "logo">
    <img src = 'data:image/png;base64, {{logo}}' class="logo"/>
</div>

<body>
<style>
    body{
        max-width: 900px;
        margin: auto;
    }
</style>
<h1>Photos in album</h1>

{% if message %}
    <h4>{{message}}!</h4>
{% endif %}

{% if photos %}
    <h2>Photos:</h2>
        {% for photo in photos %}
            <br><img src='data:image/png;base64, {{photo[0]}}' width=400, height=300, mode='crop' class="flex-item"/><br>
                {{photo[1]}}
        {% endfor %}
{% endif %}

</form>
<p> <a href='/'>Home</a></p>
<p><a href='/profile'>Profile</a></p>
</body>
</html>