<!-- author ben lawson (balawson@bu.edu) -->

<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

<div class = "logo">
    <img src = 'data:image/png;base64, {{logo}}' class="logo"/>
</div>

<title>Photoshare</title>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
</style>
<ul>
    <li><a href='/'>Home</a></li>
    {% if message is none %}
    <li>You should <a href='/login'>login or sign up!</a></li>
    {% else %}
    <li><a href='/profile'>My Profile</a></li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/friends'>Friends</a></li>
    <li><a href='/logout'>Logout</a></li>
    {% endif %}
</ul>

{% if message %}
<h4>{{message}}!</h4>
{% endif %}

{% if prof_pic %}
    <img src = 'data:image/png;base64, {{prof_pic}}' width=100, height=100, mode='crop' align="left"/>
{% endif %}
        <h1>&nbsp;Hey {{ name }}!</h1>
        {% if bio %}
            &nbsp;{{bio[0]}}
        {% endif %}
    <br>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data" action="/prof_pic">
        <label for="new_prof">  Change your profile photo:</label>
        <input type="file" name="new_prof"/><input type="submit" value="Upload" />
        <br> </form>
<style>
    body{
        max-width: 700px;
        margin: auto;
    }
    p {
        float: left;

    }
</style>

<body>
{% if albums %}
    <h3>Your albums:</h3>
        {% for album in albums %}
        <p> <form method="post" enctype="multipart/form-data" action="/albumPhotos" >
           <label for="album_id"> {{album[0]}} </label><input type="hidden" name="album_id" value="{{ album[1] }}"><input type="submit" value="photos" />
            <!--{{album[1]}}<br>-->
        </form><form method="post" enctype="multipart/form-data" action="/deleteAlbum">
            <input type="hidden" name="album_id" value="{{ album[1] }}"><input type="submit" value="delete this album"/>
            <!--{{album[1]}}<br>-->
        </form></p>
        {% endfor %}
{% endif %}


{% if tags %}
    <h3>Your tags:</h3>
    {% for tag in tags %}
        <form method="post" enctype="multipart/form-data" action="/usersTaggedPhotos">
            <p><label for="tag"> {{tag[0]}} </label><input type="hidden" name="tag_id" value="{{ tag[1] }}"><input type="submit" value="photos"/>&nbsp; &nbsp;</p>
        </form>
    {% endfor %}
{% endif %}

<br>
<br>
<br>

<form method="post" enctype="multipart/form-data" action="/search">
    <label for="search">Search for photos:</label>
    <input type="text" name="search" placeholder="Search for photos" /><input type="submit" value="submit" />
</form>
{% if searchresults %}
    <h2>Search results:</h2>
    {% for photo in searchresults %}
        <img src='data:image/png;base64, {{photo[0]}}' width=400, height=300, mode='crop' class="flex-item"/><br>
        <i>tags: {{photo[3]}}</i><br>
    {% endfor %}
{% endif %}
<br>
<form method="post" enctype="multipart/form-data" action="/searchTags">
    <label for="searchTags">Search for Tag Ideas:</label>
    <input type="text" name="tags" placeholder="Find Tags" /><input type="submit" value="submit" />
</form>
    {% if tagIdeas %}
    <h2>Some tag ideas:</h2>
    {% for tagIdea in tagIdeas %}
        <p>{{tagIdea[0]}} &nbsp;</p>
    {% endfor %}
{% endif %}
<br><br><br>
{% if photos %}
<h2>All of your photos!</h2>
        {% for photo in photos  %}
            <br><img src='data:image/png;base64, {{photo[0]}}' width=400, height=300, mode='crop' class="flex-item"/><br>
            <i>{{photo[2]}}</i><br>
            {% if likes %}
                {% for like in likes %}
                    {% if like[1] == photo[1] %}
                        {{like[2]}} {{like [3]}} likes this photo. <br>
                    {% endif %}
                {%endfor%}
            {% endif %}
            {% if comments %}
                {% for comment in comments %}
                    {% if comment[2] == photo[1] %}
                        {% if comment[0] == ' ' %}
                            guest commented "<i> {{comment[3]}} </i>" at {{comment[4]}} <br>
                        {% else %}
                        <!--first name last name         comment text at      time-->
                            {{comment[0]}} {{comment [1]}} commented "<i> {{comment[3]}} </i>" at {{comment[4]}}<br>
                        {% endif %}
                    {% endif %}
                {%endfor%}
            {% endif %}
            <form method="post" enctype="multipart/form-data" action="/deletePhoto">
                <input type="hidden" name="photo_id" value="{{ photo[1] }}"><input type="submit" value="delete this photo"/>
            </form>
            {% endfor %}
{% endif %}
</body>

